

.Notifications {
    border: 1px solid #e1354b;
    padding: 10px;
    margin: 10px;   
    position: relative;
}

.Notifications ul {
    list-style: none;
    padding: 0;
}

.Notifications li[data-priority="default"] {
    color: blue;
}

.Notifications li[data-priority="urgent"] {
    color: red;
}

